[2014-10-13 01:32] Mathbl opened #5 "API auth"
Hello!

First of all, good job on track-o-bot! That's also great to open source it.

I began working on a little companion Android App that will use the API.

At first, I'll show a "login" screen so the user enters his username and token. I'd like to have a way to ask the API if these credentials are valid.

As for now, I could try to get the history or any other json, and if it does return an err

[2014-10-18 10:54] benraziel opened #6 "Request: create an open database of hearthstone matches"
Thank you for developing track-o-bot, great stuff!

Currently, there's no open database of hearthstone match history data (that i know of). Such an open database would be immensely useful for people wanting to do statistical analysis and machine learning work around hearthstone.

I suggest adding an opt-in way for a user to make his match history publicly available. Adding a "make my match history

[2014-11-26 04:51] ganwell opened #11 "Trackobot deck analysis"
I created an algorithm to find the most common decks based on tracked games:

https://ganwell.github.io/card-complete.html

It would be interesting to try this with a large data-set.

[2015-01-07 05:52] gssjr opened #12 "In Progress: Delete Results from History"
I'm opening this thread to start communication on where you would like to see this feature be taken (delete results from History).

I have nearly all the back-end stuff done but need to work on the UI/UX ( here is mock-up https://cloudup.com/c8cpSYkSnW6 ). I'm imagining that there will be an edit "mode" such that when the user clicks "Edit History" the checkboxes and "Delete Selected" button will

[2015-01-07 17:40] bergren2 commented on #12
Nice UI. This other issue is related, albeit with slightly different controls: stevschmid/track-o-bot#65

Are we worried about users deleting unfavorable matches? (so their match history looks better than it actually was) Or is that beyond the scope of Track-o-Bot?

[2015-01-07 17:53] gssjr commented on #12
I don't think it really matters. The user in only cheating himself or herself if they do that. Currently, there are no aggregate statistics amongst all users, but this could skew the results if such a player-wide statistics feature was added (similar to Hearthstats). However, this is also just a game and data integrity isn't super critical. I'd expect most people wouldn't be so disillusioned as to

[2015-02-14 16:48] Baco9 commented on #12
Is this still being developed? Can I help?
I'm really waiting for this feature ;)

[2015-02-14 16:58] gssjr commented on #12
I got pretty busy after starting it so haven't finished yet. But I haven't forgotten. It's nearly done just need to figure out a few bugs.

[2015-02-14 17:05] stevschmid commented on #12
Take your time!

[2015-02-18 04:57] gssjr commented on #12
@stevschmid What do you think of this UI? http://take.ms/NmpfP

I'm wondering if we should make these soft deletes so data is recoverable? Do you have a preference?

I still need to figure out how to handle arena results since the results belong to an arena run. I'm not sure what types of scenarios are existing for trackobot users that have issues with arena results that are causing them to want t

[2015-02-18 07:23] jakeboxer opened #13 "Request: manually choose decks in an existing result"
First of all, thank you so much for Track-o-bot! I'm on a Mac, and this is the first Hearthstone tracking app I've used that's been stable and felt good.

Anyways, my request: I just had a game that went like this:

![](http://cl.ly/image/0s2l0u3O1q2J/Image%202015-02-17%20at%2010.40.56%20PM.png)

Turn 3 Ragnaros rules, but the game was over so quick, Track-o-bot wasn't able to identify my deck :(

[2015-02-18 17:55] stevschmid commented on #13
Turn 2 Wild Growth into double Innervate Ragnaros into coin Black Knight to kill of his Sen'jin. **Wow!**

I see the main challenge of manually choosing/setting a deck in the UI. An anobtrusive edit button (e.g. only shown when hovering over the specific match) + inline edit form (with autocomplete boxes for both the player and opponent to choose class or deck) could do the trick.

[2015-02-18 18:13] gssjr commented on #13
@jakeboxer Perhaps we should coordinate since I'm also implementing an edit result functionality (in this case deletion. See #12 ). Don't want to step on your toes UI/UX-wise if we're developing this simultaneously.

I was trying to emulate the feel of gmail/inbox when selecting results to perform bulk-actions. The challenge here would be that we can edit either player or opponent deck names. Perh

[2015-02-18 18:13] stevschmid commented on #12
Nice work! Looks pretty cool!

Persistence: No recovery for now.

Arena: The ability to delete an arena run would be cool as well. As for the deletion of results which belong to an arena: Not sure what you mean by the timestamp behavior. Shouldn't it be enough to just delete an associated ``result``? I would keep it really simple because it will be used rarely.

[2015-02-18 18:32] gssjr commented on #12
It was kind of a trivial comment in retrospect, but just to clarify:

The Arena index view has: `<td class="timestamp"><%= local_time_ago(arena.results.order('created_at DESC').first.created_at) %></td>` which would give an error: `NoMethodError: undefined method `results' for nil:NilClass`

So, it'd just be a simple adjustment to account for Arena runs with no results.

[2015-02-19 22:26] stevschmid commented on #12
Ah yes. The deletion of the last result of an arena run should also delete the run.

[2015-02-25 00:10] ckolderup opened #14 "Detailed statistics via JSON"
Hi,

I'd like to be able to download more detailed data from what I've submitted to track-o-bot— basically a paginated JSON response with an array of every game I've tracked with the date/time, class, deck name (if any), and opposing class/deck. This way I could do something like build a script to track statistics on a per-season basis using my personal data. If I built this feature would you cons

[2015-02-25 00:13] ckolderup commented on #14
hmm, nevermind, I think maybe the API already has this? Sorry, I thought the JSON links at the bottom of the page were all we had.

[2015-02-25 00:13] #14 closed

[2015-04-06 15:24] stevschmid commented on #12
Any updates on this?

[2015-04-06 15:37] stevschmid commented on #6
I will close this for now.

[2015-04-06 15:37] #6 closed

[2015-04-07 00:01] gssjr commented on #12
Sorry, been lazy. I can send a pull request your way if you want to implement what I have so far, or work off of what I have.

Todo:
- Implement Arena deletions
- Create front-end javascript/integration tests

[2015-04-13 08:10] Boren opened #16 "Uninstalling does not stop application"
When you uninstall the program it does not stop the running application and says "some files could not be removed". This results in the application entry getting removed, but the application still remains (and actually started on boot).

Happens on Windows 8.1
Solution: Stop application before uninstalling.

[2015-05-30 16:48] der1agibert opened #17 "Possibility to Manually Add Matches to the History"
While I like the simplicity of your website and especially the option to define certain decks for the statistics, I feel like the option to manually add games might be worth considering. Just now, Track-o-Bot was not able to submit a match I got temporarily disconnected from. Resuming and finishing it, Hearthstone showed me the ususal dialogue along the lines "You got disconnected mid-game, and yo

[2015-06-05 03:08] gnummers opened #18 "[Linux] Trackobot compiles and runs. Can access GUI, but program isn't uploading match results"
Please see topic/subject. Not sure where to proceed from here? What info would you like on my system?

http://i.imgur.com/gJaayyg.png - Please note that it says Hearthstone found.
http://i.imgur.com/uyGcw1K.png - Clicking check for updates now doesn't seem to do anything.

I'm not getting any error messages at all in terminal. Just some warnings:

gnum@vincent-desktop ~/src/track-o-bot-master/buil

[2015-06-05 10:48] #18 closed

[2015-06-15 02:15] sgrif opened #19 "RFC: Ability to track misplays"
Hi there,

I'm happy to implement this feature myself but I wanted to get feedback on how well you think it fits into your roadmap for the application. There are often cases where I've made a misplay, and it's apparent either on that turn, or after the game is over. Any tracking of this would have to be entirely manual, but it'd be nice to input them, and then at the end of the day review the misp

[2015-06-15 10:36] pencil commented on #19
Maybe a generic tagging system combined with some filtering mechanisms could be used to implement the functionality you suggest. It would allow users to separate and classify their matches in the ways that they find useful.

[2015-07-07 00:14] stevschmid commented on #19
A generic tagging system would be lovely!

[2015-07-16 12:58] stevschmid commented on #12
@gssjr Please create a PR with what you have so far. Maybe somebody else has the time and passion to tackle it.

[2015-08-03 15:36] temas-hub commented on #11
How can get access to anonymized database of matches? I need to get real match history data. More than from my local matches(I played only 100 of matches and 10 of decks). But I'm planning to carry on analysis of thousands of matches with hundrends of decks to understand the best winning decks, most effective combos, etc. Can anyone help me?

[2015-08-14 10:31] clooth opened #20 "JSON API Should have a "last updated date" so we know when to load new data"

[2015-08-17 00:44] satyrius commented on #13
Hi @jakeboxer! +1 for the feature request. @stevschmid, my situation was even more unpredictable for automatic deck matching: on turn 2 Priest played Deathlord, then it was suddenly executed by me and Dr. Boom was dropped on the table. He conceded. No chance to match both deck types.

<img width="485" alt="screenshot 2015-08-17 03 37 54" src="https://cloud.githubusercontent.com/assets/278630/92962

[2015-08-17 17:31] stevschmid commented on #13
@satyrius @jakeboxer The ability to override the deck recognition arrives soon™ :smiley:

[2015-08-19 10:26] emilesilvis commented on #20
@stevschmid is this worth making a PR for?

[2015-08-19 10:34] emilesilvis commented on #5
@Mathbl @stevschmid if you're still interested in this, I can have a look?

[2015-08-19 12:44] Mathbl commented on #5
I don't know if it would be useful for others. As for myself, I do not need it anymore. I'll close this. Thanks!

[2015-08-19 12:44] #5 closed

[2015-08-19 13:08] emilesilvis commented on #5
Thanks @Mathbl :smile:

[2015-08-26 13:59] stevschmid commented on #11
Track-o-Bot data is only available to the individual user.

[2015-08-26 13:59] #11 closed

[2015-08-26 14:00] stevschmid commented on #12
Upcoming version will have this feature. Thanks @gssjr.

[2015-08-26 14:00] #12 closed

[2015-08-26 14:00] stevschmid commented on #13
Should be up soon.

[2015-08-26 14:00] #13 closed

[2015-08-26 14:01] stevschmid commented on #16
Thanks for your report. Please reopen the issue in https://github.com/stevschmid/track-o-bot if it still persists.

[2015-08-26 14:01] #16 closed

[2015-08-26 14:02] stevschmid commented on #17
Manually adding via the frontend is not on the plan right now. But adding games via the API is pretty straightforward. I'm waiting for someone to create a companion app which allows to add results easily :) Hit me up if you are interested.

[2015-08-26 14:02] #17 closed

[2015-08-26 14:07] stevschmid commented on #20
The first result already contains an `added` attribute which can be used for checking if there is new data.

[2015-08-26 14:07] #20 closed

[2015-08-26 14:11] stevschmid commented on #19
The upcoming version includes a tagging and filtering system as @pencil suggested. Hope that this helps tracking down your misplays @sgrif.

[2015-08-26 14:11] #19 closed

[2015-08-26 14:13] gssjr commented on #19
@sgrif Who wouldn't love cleaner models?! :) I'd say go for it.

[2015-08-29 13:46] taylan opened #23 "Card tooltips in Timeline view"
I was thinking it would be nice if card tooltips were shown when the user hovers over a card in the timeline view. I have something like this in mind:

![](http://i.imgur.com/ORa3pQR.png)

I know of two sites that provide Javascript tooltip service for HS cards: [HearthPwn](http://www.hearthpwn.com/tooltips) and [Hearthhead](http://www.hearthhead.com/tooltips). Unfortunately, both of them require

[2015-09-01 21:55] clooth commented on #20
A more ingenius approach would be to return the last modified date in a header only response so we mitigate almost all need of loading data :)

[2015-09-03 16:02] stevschmid commented on #23
With the advent of TGT I really like this idea.

It's a bummer that neither Hearthpwn nor Hearthhead allows for tooltips with the card id (`ref`). Just grabbing the image would probably violate the purpose why such tooltip services were created in the first place. I'm not a fan of a mapping either. But I don't have a good solution right now.

[2015-09-03 19:31] taylan commented on #23
Yeah, I don't like using the image directly either. I searched for HearthstoneCardID->HearthPwnCardID or similar mappings but I couldn't find anything. We can attempt to create that mapping ourselves.

In the card detail pages in Hearthhead, the HearthstoneCardID is used in several places. (For example go to the Hearthhead page for [Alexstrasza](http://www.hearthhead.com/card=581/alexstrasza), vie

[2015-09-07 14:54] emilesilvis commented on #23
Could http://hearthstoneapi.com be a viable option?

[2015-09-07 15:56] taylan commented on #23
@emilesilvis it could but it looks like this api also returns image urls like

`http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_572.png`

And this API doesn't look like it is affiliated in any way with Hearthhead so they are basically doing the same hacky thing we considered. If Hearthhead is OK with hotlinking in this way then we can do it.

[2015-09-08 12:41] JulianEberius opened #26 "Make Decks available in the API"
Hi,

I've started working on a tiny iOS [companion app for Track-o-Bot](https://github.com/JulianEberius/track-o-bot-ios/), since I play a lot of HS on iPad.

Basic functionality (authenticating & creating new results) works fine. As a next step, I wanted to be able to pick the Deck used in each game, and for that I need to be able to access the list of user-defined decks via the API. At the momen

[2015-09-14 15:14] stevschmid commented on #23
Feel free to contact the Hearthhead guys. I would love to add tooltips, but the solution must be a robust one.

[2015-09-17 18:50] stevschmid commented on #26
That's a good idea! Will keep this in mind.

[2015-09-17 19:08] geraldhiller opened #27 "Issue with selecting only one day in stats on web page"
One day selected: http://take.ms/lM1ta
24 hours selected: http://take.ms/B35UW
Recent history: http://take.ms/M1AEk

[2015-09-20 04:43] rshareef opened #28 "Undefined decks in deck stats"
I incorrectly opened an issue in the main track-o-bot repo.

The link the the previous issue:
https://github.com/stevschmid/track-o-bot/issues/78

The gist of it is that I would like stats of how decks I have entered into trackobot match up against unknown decks/decks I have not entered into trackobot.

Thanks for working on a great tracker!

Best,
Rustom

[2015-09-20 23:30] geraldhiller opened #29 "Remove Deck Association?"
There are a few rare instances where an opponent's deck is wrongly recognized as a specific deck, and you don't want to create a new deck type, because a) it's either not a deck you want in your list or b) you just don't know which one the other guy played. In this case there does not seem to be a way to remove the deck association (so that the stats are not skewed) or did I overlook something?

N

[2015-09-22 07:48] taylan commented on #23
OK I contacted Hearthhead and learned that I was way off with the Hearthstone Card IDs. Here's the card definition for Alexstrasza in the `DBF/CARD.XML` file:

[code]

The `NOTE_MINI_GUID` is the one used in trackobot. Hearthhead uses the `ID` field. But we don't have that ID in cards.json in the app. @stevschmid what's the source of the `db/cards.json` file? If we add the ID field to the Card mod

[2015-09-22 09:16] stevschmid commented on #23
Very cool! Thanks. I will try to add the ID to `Card` in the next update.

[2015-09-22 10:12] emilesilvis commented on #23
Nice!

[2015-11-05 16:44] LinogeFly opened #30 "Possibility to send decks when adding a game via API"
Hi,

It would be great to have an ability to send player's and opponent's decks when adding new games via API. To my understanding decks have IDs. So another useful feature would be a service that returns profile decks with their IDs when you send username and token.

One of the main features that I like in Track-o-bot is the ability to have deck statistics. Quite often I play on a phone and I cre

[2015-11-10 07:37] bl4ck0r commented on #26
Would be awsome @stevschmid if you can implement this!

[2015-11-15 04:28] mcrawford-dayspring opened #32 "Reorder search logic / find all matches of search term"
The search function on the history page doesn't seem to return the results the way I would expect.

My example was I would search for "Rogue" and expect it to find all results for or against the Rogue class. But it was matching my decks that are called "Oil Rogue" or "Aggro Rogue" and then only returning results for the *first* one.

Would it make sense to:
a. switch the order of the if statements

[2015-11-17 21:00] alexeibs opened #33 "Filter decks by class"
It would be nice to show only, for example, paladin decks when user is changing a deck type for paladin in match history. Now the list of options contains all decks configured before.

[2015-11-20 13:18] bl4ck0r commented on #26
Any news on that ?

[2015-11-21 12:42] stevschmid commented on #26
Not yet. Soonish hopefully.

[2015-12-07 00:02] justinclayton commented on #28
+1 on this. Even if in the short term undetected opponent decks weren't excluded from deck stats, that would be a big plus.

Appreciate the work btw

[2015-12-07 21:35] amarcadet commented on #29
:+1:

[2015-12-14 17:17] geraldhiller opened #34 "Deck vs. Class"
Would anyone else care for a stat view that lists the win percentages of one deck against the other classes (rather than against other decks)?

I think it would be neat and in some cases more accurate, as decks are not always identified correctly and different deck types often melt into each other. It's not really interesting to know how well you perform with a particular class. You're always worr

[2015-12-19 14:52] satyrius commented on #34
(+1) I like stats for decks more, because I play a lot of decks per class and want to see distinct winrate for each. But I have so many decks configured and found that "against deck" section is flooded. It will be handy to check winrate for the deck against a class.

[2015-12-19 14:53] satyrius opened #35 "Time summary"
It would be nice to see time total played for deck/class on the stats page.

[2015-12-19 15:28] satyrius opened #36 "Remember stats page filter"
When I go to the stats page I always do the same thing – set filter to *Ranked* for *Current month*. It would be nice to save this as preferred filter for user (store in cookies, session, wherever).

<img width="710" alt="screenshot 2015-12-19 18 25 21" src="https://cloud.githubusercontent.com/assets/278630/11913701/37f8eb5a-a67e-11e5-97ee-e049a1d58888.png">

[2015-12-23 08:44] JustinasDaugela opened #37 "Improvements to Decks feature"
I'd like to develop a feature I'd find very useful myself:

- Allow a more convenient way of importing/exporting decks.

This could be a simple JSON file dump option from your current deck list, with the ability to also import the file. Would allow users to conveniently share deck lists, in time providing the ability for everyone to see statistics not only versus classes, but versus specific decks

[2015-12-24 09:46] ComtriS opened #38 "API should allow "added" timestamp to be an accepted parameter"
Per discussion here:
[https://www.reddit.com/r/trackobot/comments/3xn2al/api_documentation/cy7ussa](https://www.reddit.com/r/trackobot/comments/3xn2al/api_documentation/cy7ussa)

[2015-12-24 19:50] satyrius commented on #34
@stevschmid, can I make a pull request, or we should wait for your confirmation?

[2015-12-26 09:29] salaj1986 commented on #6
Any news on this?

[2015-12-27 10:32] stevschmid commented on #6
Unfortunately, no.

[2015-12-29 12:43] JustinasDaugela commented on #37
@stevschmid I'd like to get working on the feature if that's ok

[2015-12-29 14:03] stevschmid commented on #37
What about the ability to import/export a deck via a string? (string contains name, class and card ids)

That would allow to add decks very easily by simply entering a string.

[2015-12-29 15:06] JustinasDaugela commented on #37
@stevschmid sure, that sounds good as well. I'll develop this and make a PR. Thanks

[2015-12-29 15:06] #37 closed

[2016-01-06 20:06] gpiancastelli opened #41 "Options for editing a match do not show class but only deck name"
When editing a match, the control by which you can select a different deck than the one recognized by the system only shows the deck names instead of showing both the deck name and the class name. Naming a deck with the class name also (e.g. "Freeze Mage" instead of "Freeze") can be redundant in the UI because deck names are always shown alongside their class name... except in the mentioned widget

[2016-01-06 20:09] gpiancastelli opened #42 "Deck stats show lines for decks that have never been played/encountered"
The table in the deck stats page shows lines for every defined deck, even decks that have never been played/encountered. In the case many decks have been defined, the page results unnecessarily long. Please show only stats for relevant decks, i.e. decks played and decks with actual matches against played decks.

[2016-01-26 19:48] salaj1986 opened #43 "Support cross domain access for API"
Hello,

I'd like to access data via the provided API (https://trackobot.com/profile/history.json?username=USER&token=YOUR_API_TOKEN). The problem is that if I do this via JS from within another domain it fails due to a cross domain request.
Will it be supported? (Or maybe I'm missing something?)

Thanks!

[2016-02-02 19:11] stevschmid opened #44 "Arena stats being calculated incorrectly"
cf. https://github.com/stevschmid/track-o-bot/issues/66

[2016-02-02 19:39] stevschmid commented on #43
It will not be supported from my side. I guess you can write a small proxy API.

[2016-02-02 19:39] #43 closed

[2016-02-02 19:40] stevschmid commented on #42
Thanks for the suggestion. I'll look into it.

[2016-02-02 19:42] stevschmid commented on #41
Most people call the deck "Freeze Mage", and a "[Mage] Freeze Mage" would make it unnecessary long. That being said, I'm looking into revamping the deck system soon.

[2016-02-02 19:42] #41 closed

[2016-02-02 19:45] stevschmid commented on #36
Makes sense. I'll look into it.

[2016-02-02 19:46] stevschmid commented on #35
You can calculate this easily via API (json/csv) yourself.

[2016-02-02 19:46] #35 closed

[2016-02-02 19:48] stevschmid commented on #34
I'm currently planing on revamping the whole deck system. Maybe I can address this issue as well.

[2016-02-02 19:52] stevschmid commented on #30
Hey Alexey. I'll look into it.

[2016-02-02 19:53] stevschmid commented on #28
Somewhat related to https://github.com/stevschmid/trackobot.com/issues/34

Will look into it with the new deck system.

[2016-02-02 19:54] stevschmid commented on #29
Yeah that option is missing. Hope to address this issue with the revamp of the deck system.

[2016-02-02 19:57] stevschmid commented on #32
Agree. Searching for "Rogue" should match "Oil Rogue" and "Aggro Rogue". Will look into this.

[2016-02-02 19:57] stevschmid commented on #27
Bug. Will get addressed soon. Thanks for the report.

[2016-02-02 19:58] stevschmid commented on #33
You can simply search for "Paladin" to list all the paladin matches in the history.

[2016-02-02 19:59] stevschmid commented on #38
I'll comment this in the PR.

[2016-02-02 19:59] #38 closed

[2016-02-02 20:42] alexeibs commented on #33
Sorry. I chose a wrong title for this issue and described the problem poorly :(  It's not about search in match history. It's about this form:
![image](https://cloud.githubusercontent.com/assets/1247013/12763610/5fc6c82c-ca06-11e5-954a-47bb88abcf6d.png)

[2016-02-02 20:58] LinogeFly commented on #30
Great! Looking forward to it :)

[2016-02-02 21:03] stevschmid commented on #33
Ah I see what you mean. Will try to address this in the upcoming deck system update.

[2016-02-02 21:55] #27 closed

[2016-02-04 10:59] satyrius commented on #35
Yes I can, but it looks like stat that could be easily calculated and shown on the page.

[2016-02-04 23:19] stevschmid commented on #35
That is true, but I'm not sure that the metric is useful for everybody. It could frustrate some people "Ugh, did I really play 12 hours in the last 3 days?". I personally don't like the time tracking in Steam.

But I'm open to this if there is a demand and good reasons.

[2016-02-05 14:17] JustinasDaugela commented on #44
@stevschmid did you manage to reproduce the issue?

[2016-03-18 15:46] serkrapiv opened #48 "Decks are not saved when match result is uploaded manually"
When I post results to `/profile/results.json` decks used in the match are ignored and are returned as `null` in the response. Example:

[code]

Result:

[code]

It would be nice to have this feature, cause this is the only blocker for a potential mobile application for track-o-bot

[2016-03-21 21:33] JustinasDaugela opened #49 "Doesn't track Lady Liandrin gams"
Doesn't track games played as Lady Liandrin (the new Paladin hero)

[2016-03-21 22:28] stevschmid commented on #49
What version and OS are you using?

[2016-03-22 08:25] #49 closed

[2016-03-22 08:26] JustinasDaugela commented on #49
@stevschmid nevermind, seems I used the old version

[2016-04-04 21:01] JulianEberius commented on #26
Solved with commit ce24f24c1dcf89ffe8efb4fa17e1184d7ee3500e

[2016-04-04 21:01] #26 closed

[2016-04-18 16:25] ikinone opened #51 "Average match duration"
Something I would love to see in trackobot would be a display of average match duration for each deck/class. It would be very useful for helping select a deck for laddering

[2016-04-23 11:28] geraldhiller opened #53 "Idea: Filter deck stats by rank and time of day"
I'm really interested to get more detailed statistics on how my decks perform at different ranks, and how my win rate changes over the course of the day.

This helps put the deck's win rates into perspective, and helps users to pick the right times to play specific game modes.

Just a thought...

Keep up the good work, and thanks for the last update with the overlays!

[2016-05-16 20:14] stevschmid opened #54 "Complete account reset"
Add a way to reset the account completely.

[2016-05-28 23:40] theanine opened #55 "Show match tags in JSON/CSV output"
Any added tags are currently not shown in JSON/CSV, which means if one wanted to programmatically fetch these it would require html scraping.

[2016-06-20 13:12] stevschmid commented on #55
Tags were replaced by notes in the new update (`note` in JSON).

[2016-06-20 13:12] #55 closed

[2016-06-20 13:12] stevschmid commented on #54
Deployed with the new update.

[2016-06-20 13:12] #54 closed

[2016-06-20 13:14] stevschmid commented on #51
Very easy to do with the API (e.g. CSV export). I don't think I will add this number in the near future since it changes so little.

[2016-06-20 13:14] #51 closed

[2016-06-20 13:14] stevschmid commented on #42
Deployed with new update.

[2016-06-20 13:14] #42 closed

[2016-06-20 13:14] stevschmid commented on #36
Deployed with new update.

[2016-06-20 13:14] #36 closed

[2016-06-20 13:15] stevschmid commented on #34
Somewhat addressed with the new update ("Other <Classname>").

[2016-06-20 13:15] #34 closed

[2016-06-20 13:15] stevschmid commented on #33
Deployed with new update.

[2016-06-20 13:15] #33 closed

[2016-06-20 13:16] stevschmid commented on #30
Deployed with new update. `opponent_deck_id` and `deck_id` now `POST`able.

[2016-06-20 13:16] #30 closed

[2016-06-20 13:16] stevschmid commented on #29
Deployed with new update.

[2016-06-20 13:16] #29 closed

[2016-06-20 13:16] stevschmid commented on #28
Deployed with new update.

[2016-06-20 13:16] #28 closed

[2016-06-20 13:17] stevschmid commented on #48
See my closing comment on #30.

[2016-06-20 13:17] #48 closed

[2016-06-20 15:44] LinogeFly commented on #30
Awesome, thanks a lot!

[2016-06-21 13:43] mislav opened #59 "Request: storing Arena decks"
I've recently had a good Arena run and a friend asked me which deck I used. I didn't screenshot it at the time, so I thought that Trackobot might have the info. I can get the info about cards played during that entire Arena run, and from the JSON dump I can manually extract some statistics about which cards I played the most, but I can't tell generated cards (spells from Conjurer, for instance) fr

[2016-06-22 22:50] mislav opened #60 "Rank indicators in history are low-res"
I am on my MacBook with Retina display, and I see sharp images for class indicators, but rank indicators are low-resolution in comparison:

<img width="565" alt="screen shot 2016-06-23 at 12 41 24 am" src="https://cloud.githubusercontent.com/assets/887/16286234/70bf57e0-38db-11e6-8af5-d24ab004cc02.png">

The CSS for these images suggests that [there was some attempt of image swapping](https://gith

[2016-06-23 18:48] mislav opened #63 "A recent ranked game curiously doesn't have rank indicator"
This is how I see it:

<img width="566" alt="screen shot 2016-06-23 at 8 46 08 pm" src="https://cloud.githubusercontent.com/assets/887/16315713/b1783b32-3983-11e6-88cd-a3b70d2b78c8.png">

The loss vs. “other hunter” doesn't have a rank indicator, although it was clearly at rank 5.

This is not a huge issue; just wondering if anyone else has seen something similar. Wondering how to debug this?

[2016-06-23 20:07] stevschmid commented on #63
How long did the game last? If the game was over in the first few turns, it's likely that Track-o-Bot wasn't able to capture the rank. In any case, I think the rank detection can be improved and thus created this issue here: stevschmid/track-o-bot/issues/165.

[2016-07-08 15:22] scockram commented on #63
I get this error quite a lot (sometimes for 4-5 games in a row). Created a pull request that allows manual fixing.

[2016-07-25 18:14] mislav commented on #59
I've investigated whether Arena drafting info appears in game logs at all, and it seems that it doesn't. Other tracking software seems to hook into Arena drafting by analyzing pixels of the screen. This might be a too heavy-handed approach for track-o-bot client which is generally simple.

However, as a compromise, maybe the client could track the information about whether a card played was genera

[2016-09-09 14:35] soli opened #65 "Add new (Karazhan) archetypes"
Hi,

as posted [on reddit](https://www.reddit.com/r/trackobot/comments/51s169/request_for_new_archetypes/) I think it would be necessary (or at least nice) to have updated archetypes now that KARA is out.

I can write a pull request if you like (am I right that only trackobot.com/db/decks.json needs to be updated?).

As pointed out in the reddit post, a probably even better idea would be to have a

[2016-09-13 22:02] stevschmid commented on #65
I like a curated approach. And I'm just waiting for the dust to settle to update the decks again. Please post your ideas for new deck types to the subreddit.

[2016-09-13 22:02] #65 closed

[2016-09-13 22:06] stevschmid opened #66 "Store and expose region"
The newest Track-o-Bot client detects and sends the region along with every `result`. Store it and expose via API.

[2016-09-16 12:55] mislav commented on #44
I experience a version of this bug where all averages are "0.0".

<img width="671" alt="screen shot 2016-09-16 at 2 27 18 pm" src="https://cloud.githubusercontent.com/assets/887/18586073/02748bc4-7c1b-11e6-95e1-165e6362545a.png">

The "Runs" column is accurate, as well as the histogram in the bottom. I expected to see data in other columns, though.

This isn't a template issue, since the JSON repr

[2016-10-17 22:43] Scoppio opened #68 "Request: GET .json by uniq_id"
Hi,

I open here a request for a GET function in the API to get game JSON by its unique ID, this way allowing for data analyst or webportals could access the game results and game data, allowing to create complete season reports, meta analysis, etc.

Some sites already offers this work by having their visitors trust their personal API's and usernames to the site, making the number of access you ha

[2016-10-19 22:46] coleww commented on #44
I was encountering the exact same bug as @mislav. Looking through the code, I noticed that the `read_params` action in the Stats module was pulling stuff from cookies that could have potentially messed with the `user_results` query. So I cleared my cookies just to be sure, and the bug went away! 👯

Unfortunately, I didn't check to see what was in my cookies before doing this. If I can get the bug

[2016-10-20 10:45] mislav commented on #44
Hot damn, @coleww. That totally did it! 🏆

I checked the cookies before 🔥ing them. There was the Google Analytics cookie (irrelevant, I suppose, the `mode` cookie set to "ranked", the `time_range` cookie set to last 3 days, and the main `_webtracker_session` cookie (encrypted).

I think the culprit was the `mode` cookie. Steps to break your Arena stats again:

1. Go to Stats > Arena. The data look

[2016-10-20 10:51] stevschmid commented on #44
The 0.0 bug is fixed! Thanks for the help guys.

[2016-10-20 12:15] mislav commented on #44
For posterity: 041c753f9c27c28d942865d90866fddbc05defaf

[2016-11-08 17:34] m1so commented on #68
Awesome idea 👍. Paging @stevschmid

[2016-12-15 10:52] ThaWeatherman opened #70 "[Feature] Get history starting from ID"
Getting history by page is nice, but it would be great if I could specify an ID to start from and have that game and any games since that game returned.

[2016-12-15 19:14] theanine commented on #70
Also start/end timestamps.

[2016-12-19 20:00] ThaWeatherman opened #72 "[Feature] Export game history to JSON/CSV in date range"
Currently you can do it by page, which is great, and it is easily retrieved by the API, but it would be great if it were possible to do a mass export to either CSV or JSON for a specific date range rather than just the current page.

[2017-01-03 04:03] ThaWeatherman opened #73 "Rank not being displayed"
I can see in the debug logs the data sent to the site and it includes the correct rank number, but on the server end when I update to see the game the rank is not displayed and I have to manually add it.

Playing on Windows 10.

[2017-01-03 16:28] ThaWeatherman commented on #73
It should be noted that restarting the game and trackobot solved the issue.

[2017-01-08 21:34] wodorost opened #75 "Issue with double history"
since Yesterday i get every match twice in the history list which messes up the list and the amount of matches (of course not the ratio). I had to remove the doubles by hand but there must be a soulution.

MAC 0.8.6 Yosemite
(HDTracker is also running but this was no issue before)

[2017-01-10 13:58] ThaWeatherman opened #76 ""Remember me" functionality"
It would be nice if there were a "remember me" button built in to the login page.

[2017-01-18 19:27] ThaWeatherman commented on #75
I'm guessing this is related to [this post](https://www.reddit.com/r/trackobot/comments/5mtbet/mac_086_double_history_entries/) meaning this ticket can be closed.

[2017-01-19 14:27] ThaWeatherman opened #77 "Arena stats not showing runs"
I have two arena runs this month. You can see them on the main arena stats page.

![capture](https://cloud.githubusercontent.com/assets/2522737/22110135/a63c2a2c-de28-11e6-921d-2f99ae893973.PNG)

However, if you click on Warlock, that page shows my W/L count, but says I have 0 runs.

![capture](https://cloud.githubusercontent.com/assets/2522737/22110110/88b90326-de28-11e6-8744-aaee5b329c08.PNG)

[2017-01-25 17:13] ThaWeatherman opened #78 "Query on /history for hero doesn't work"
Based on [these lines](https://github.com/stevschmid/trackobot.com/blob/master/app/controllers/history_controller.rb#L21-L22) one would think that you can use a hero's name as a query string for history. But that seems to not be the case.

![capture](https://cloud.githubusercontent.com/assets/2522737/22301083/aa994112-e2f7-11e6-96c2-b4a15b3931d8.PNG)

[2017-02-12 04:42] jdharms opened #79 "Stats for on the coin/play?"
New user to track-o-bot, and can't figure out how to determine my winrate with a deck or over a time period with the coin vs without the coin.  This is a stat I like to know, and wondering if it's been considered in the past.

I have little Ruby experience (mostly Python for web development work) but wouldn't mind taking an attempt at the feature if there's interest.

[2017-02-12 05:04] theanine commented on #79
@jdharms if you query for the cards played in each match, it should be trivial to simply count the number of games where you play the coin or your opponent plays the coin (probably throw out any matches where no coin was played).  AFAIK, there is no way of doing this from the UI and I doubt @stevschmid would be interested in adding that feature.

[2017-02-12 05:20] jdharms commented on #79
@theanine our definitions of trivial look like they're very different.  That sounds like quite a bit of work, haha.  It sounds like you're suggesting downloading the json data for a month or whatever and writing a script to tally the games, or manually going through the games in the ui (eeeeeek!).

It's fine if there's not interest in adding the feature, after all, it *is* something I can do mysel

[2017-02-12 08:42] theanine commented on #79
34 lines of code from cloc's count.  [See here](https://github.com/theanine/coin-counter)

Enjoy.

[2017-02-12 12:46] jdharms commented on #79
So yes, different definitions of trivial, I suppose.

For what it's worth, other trackers seem to natively track this stat. So, it seems like something people want, or at least something a few developers thought people might want, and I thought I'd bring it up.

I know I'd prefer having access to the information even when I can't run Python scripts or when I'm on mobile.

Anyway, thanks for your h

[2017-02-13 08:28] theanine commented on #79
I'm curious what you consider to be trivial?  I would think 34 LoC / 5-10min is certainly within trivial.

Also, just because other trackers have it doesn't mean it's a good feature to have.  @stevschmid's philosophy is to keep ToB very minimal.  And I think there are many more statistically-related features that would be much more useful than this measure that are deliberately not included in ToB

[2017-02-13 13:40] jdharms commented on #79
First, please don't assume everyone writes code as fast as you. Second,
your solution doesn't provide the stats for each deck with the coin, or
against each class. Maybe it's my math background poking through, but
trivial means basically no work, not "anyone comfortable with Python can do
it within an hour".

Tristan, are you officially connected to this project in any way? I
understand that Steve

[2017-02-13 21:45] theanine commented on #79
I'm a minor contributor to the project and @stevschmid doesn't get a lot of time to work on it, so I try to help where I can (on Reddit and here on GitHub) based on what I know.  I also tried to help you by writing the code I thought trivial (and yes, I do consider "trivial" to be ~5 minutes of work; 0 minutes of work is a completed feature).  I even wrote it in your preferred language of Python.

[2017-02-13 22:12] jdharms commented on #79
Perfect!  Thanks for your help again.  Appreciate the effort to package
your sample code in a way readily accessible to me.  I'd still much rather
not have to run a script every time I want this information, and I think it
could be useful to others as well.

I'm sorry for snapping at you--no one's getting paid here or owes me
anything.  I just felt like my feedback/suggestion was being discarded
b

[2017-02-14 08:28] theanine commented on #79
[This commit should be more useful for you.](https://github.com/theanine/coin-counter/commit/290a9aa4a20ec01151762da328bc7b5778a47b48)  This should have everything you need.  Also, this is another reason why ToB need not have the features baked in: with API access you can just play with the data as you see fit.

Also I'm sure there's a more pythonic way to write the code linked above, but I'm no P

[2017-02-22 13:34] eephyne opened #80 "Internationalization"
I'm kind of new to HS the I play in French, I'm learning the English traduction  slowly but could it be possible to make an i18n system for cards name?

Since I didn't find any files containing cards name, I assume this is retrieved directly by the log, so a i18n would require a bit of coding but this could be a nice addition , isn't it?

In the same look and feel addition, having the visual of th

[2017-03-11 19:39] JulianEberius opened #82 "Inconsistent/changing casing in API results"
At some point in time, the /stats part of the API changed to use lower-cased hero names, e.g., "priest" instead of "Priest". The upper-cased variants were used in the past, and are still used in all other parts of the API, e.g. /profile. This is problematic for API clients that rely on these keys to extract data. Two questions:

1.) Will the other parts of the API also change to use lower-case her

[2017-03-12 04:18] theanine commented on #82
You could just always normalize these on the client-side, right?

[2017-03-12 06:42] JulianEberius commented on #82
You're absolutely right that a more robust client should be able to deal with that, and future version of my [iOS client](https://github.com/JulianEberius/track-o-bot-ios) will ;-) It originally viewed the hero names as a set of constant identifiers, not (mutable) data, so it had some code in the style of `HEROES.flatMap { h in data[h] as? ... }`. Originally, the API used the same hero identifiers

[2017-04-23 08:32] theanine opened #83 "Queryable anonymous game records"
It would be great to be able to query the API and maybe also see anonymous recorded games on the website.  The former seems pretty simple to do.  If I tackle this, will you accept a PR? @stevschmid

[2017-05-16 21:33] mislav opened #84 "Restore access to my account"
My username is `summer-dalaran-mage-9338`, as evident in this past discussion: https://github.com/stevschmid/trackobot.com/issues/44#issuecomment-247593325

I have lost my computer and I don't have a backup of my credentials. Could you help me restore access to my account? Thank you.

[2017-05-17 09:13] #84 closed

[2017-08-31 16:18] Michelemassari opened #85 "Adding our own archetypes"
Would it be possible to let users add their own deck archetypes to the system? I am playing Kazakus Priest now and it's not in the list.

Also, how does the software recognize the archetype one's playing? I noticed there is a miracle priest in the list (maybe that's the kazakus?!?) but my games are recognized as "other priest"

[2018-07-13 15:15] gnmerritt opened #87 "Add odd/even archetypes to deck lists"
It would be great to have odd/even decks in the list. They should be extremely easy to detect since Baku and Greymane proc before turn 1.

I'm happy to work on this if you're willing to point me in the right direction... I see `decks.json` and a classifier but I don't have a good sense of how everything fits together.

[2018-11-30 10:49] JulianEberius commented on #82
Closing, not relevant anymore.

[2018-11-30 10:49] #82 closed

[2020-05-02 11:43] TardisGreenHS opened #88 "Upgrade Ruby"
Specifically to 2.7..0

[2020-05-02 11:44] TardisGreenHS opened #89 "Upgrade all the Gems except Rails"
Rails could be big, so that should be separate.

[2020-05-15 15:47] TardisGreenHS opened #90 "Add Demon Hunter Class"
Hearthstone now has ten classes.